/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/.d
/.deps
/test/*-output.txt
/dev/testvoc/duplicates.*.txt
/tagger-data/eng.tagged
/tagger-data/eng.tagged.txt
/tagger-data/eng.untagged
/tagger-data/eng.dic
/tagger-data/eng.dic.expanded
/tagger-data/eng.crp
/tagger-data/eng.crp.txt
