* text=auto !eol
texts/afghanistan1.handtagged.ilie.txt -text
texts/afghanistan1.handtagged.yongloong.txt -text
texts/afghanistan1.raw.txt -text
texts/afghanistan1.tagged.txt -text
texts/albedo1.raw.txt -text
texts/alfred1.handtagged.darkgaia.txt -text
texts/alfred1.handtagged.yongloong.txt -text
texts/alfred1.raw.txt -text
texts/alfred1.tagged.txt -text
texts/algeria1.handtagged.quicksilver.txt -text
texts/algeria1.handtagged.rap.txt -text
texts/algeria1.handtagged.yugin.txt -text
texts/algeria1.raw.txt -text
texts/algeria1.tagged.txt -text
texts/aluminium1.handtagged.andrei.txt -text
texts/aluminium1.raw.txt -text
texts/aluminium1.tagged.txt -text
texts/ambiorix1.raw.txt -text
texts/ambiorix1.tagged.txt -text
texts/anarchism1.handtagged.darkgaia.txt -text
texts/anarchism1.handtagged.ilie.txt -text
texts/anarchism1.raw.txt -text
texts/anarchism1.tagged.txt -text
texts/anarchism1.tagged.txt.1 -text
texts/animism1.raw.txt -text
texts/animism1.tagged.txt -text
texts/atoms1.raw.txt -text
texts/atoms1.tagged.txt -text
texts/belize1.raw.txt -text
texts/belize1.tagged.txt -text
texts/belize2.raw.txt -text
texts/belize2.tagged.txt -text
texts/colombia1.handtagged.ilie.txt -text
texts/colombia1.handtagged.quicksilver.txt -text
texts/colombia1.raw.txt -text
texts/colombia1.tagged.txt -text
texts/karabakh1.handtagged.darkgaia1.txt -text
texts/karabakh1.handtagged.ilie.txt -text
texts/karabakh1.raw.txt -text
texts/karabakh1.tagged.txt -text
texts/partisans1.handtagged.quicksilver.txt -text
texts/partisans1.raw.txt -text
texts/partisans1.tagged.txt -text
texts/pirates.handtagged.porsi98.txt -text
texts/pirates.raw.txt -text
texts/sahara1.raw.txt -text
texts/sahara1.tagged.txt -text
texts/sunday1.raw.txt -text
texts/sunday1.tagged.txt -text
texts/vietnam1.tagged.txt -text
