* text=auto !eol
texts/afghanistan1.handtagged.ilie.txt -text
texts/afghanistan1.handtagged.yongloong.txt -text
texts/afghanistan1.raw.txt -text
texts/afghanistan1.tagged.txt -text
texts/aizkolaritza1.raw.txt -text
texts/aizkolaritza1.tagged.txt -text
texts/alabama1.handtagged.darkgaia.txt -text
texts/alabama1.handtagged.ilie.txt -text
texts/alabama1.raw.txt -text
texts/alabama1.tagged.txt -text
texts/albedo1.handtagged.andrei.txt -text
texts/albedo1.handtagged.niroulapradeep.txt -text
texts/albedo1.raw.txt -text
texts/albedo1.tagged.txt -text
texts/alfred1.handtagged.darkgaia.txt -text
texts/alfred1.handtagged.yongloong.txt -text
texts/alfred1.raw.txt -text
texts/alfred1.tagged.txt -text
texts/algeria1.handtagged.quicksilver.txt -text
texts/algeria1.handtagged.rap.txt -text
texts/algeria1.handtagged.yugin.txt -text
texts/algeria1.raw.txt -text
texts/algeria1.tagged.txt -text
texts/aluminium1.handtagged.andrei.txt -text
texts/aluminium1.raw.txt -text
texts/aluminium1.tagged.txt -text
texts/ambiorix1.handtagged.darkgaia1.txt -text
texts/ambiorix1.handtagged.quicksilver.txt -text
texts/ambiorix1.raw.txt -text
texts/ambiorix1.tagged.txt -text
texts/anarchism1.handtagged.darkgaia.txt -text
texts/anarchism1.handtagged.ilie.txt -text
texts/anarchism1.raw.txt -text
texts/anarchism1.tagged.txt -text
texts/anarchism1.tagged.txt.1 -text
texts/animism1.handtagged.andrei.txt -text
texts/animism1.handtagged.cmy.txt -text
texts/animism1.raw.txt -text
texts/animism1.tagged.txt -text
texts/atoms1.handtagged.andrei.txt -text
texts/atoms1.handtagged.kristian-hansen.txt -text
texts/atoms1.raw.txt -text
texts/atoms1.tagged.txt -text
texts/belize1.handtagged._VN_.text -text
texts/belize1.handtagged.darkgaia.txt -text
texts/belize1.raw.txt -text
texts/belize1.tagged.txt -text
texts/belize2.handtagged.andrei.txt -text
texts/belize2.handtagged.darkgaia.txt -text
texts/belize2.raw.txt -text
texts/belize2.tagged.txt -text
texts/bessarabia1.handtagged.andrei.txt -text
texts/bessarabia1.raw.txt -text
texts/bessarabia1.tagged.txt -text
texts/caucasus1.handtagged.rap.txt -text
texts/caucasus1.raw.txt -text
texts/caucasus1.tagged.txt -text
texts/coil1.handtagged.andrei.txt -text
texts/coil1.handtagged.kranzer.txt -text
texts/coil1.raw.txt -text
texts/coil1.tagged.txt -text
texts/colombia1.handtagged.ilie.txt -text
texts/colombia1.handtagged.quicksilver.txt -text
texts/colombia1.raw.txt -text
texts/colombia1.tagged.txt -text
texts/derbent1.raw.txt -text
texts/derbent1.tagged.txt -text
texts/karabakh1.handtagged.darkgaia1.txt -text
texts/karabakh1.handtagged.ilie.txt -text
texts/karabakh1.raw.txt -text
texts/karabakh1.tagged.txt -text
texts/kazakhstan1.handtagged.andrei.txt -text
texts/kazakhstan1.handtagged.ilie.txt -text
texts/kazakhstan1.handtagged.kranzer.txt -text
texts/kazakhstan1.raw.txt -text
texts/kazakhstan1.tagged.txt -text
texts/khazars1.handtagged.andrei.txt -text
texts/khazars1.raw.txt -text
texts/khazars1.tagged.txt -text
texts/kyrgyzstan1.handtagged.andrei.txt -text
texts/kyrgyzstan1.raw.txt -text
texts/kyrgyzstan1.tagged.txt -text
texts/monarchy1.handtagged.andrei.txt -text
texts/monarchy1.raw.txt -text
texts/monarchy1.tagged.txt -text
texts/partisans1.handtagged.andrei.txt -text
texts/partisans1.handtagged.quicksilver.txt -text
texts/partisans1.raw.txt -text
texts/partisans1.tagged.txt -text
texts/peru1.handtagged.andrei.txt -text
texts/peru1.handtagged.darkgaia.txt -text
texts/peru1.raw.txt -text
texts/peru1.tagged.txt -text
texts/pirates.handtagged.porsi98.txt -text
texts/pirates.raw.txt -text
texts/sahara1.handtagged.andrei.txt -text
texts/sahara1.handtagged.darkgaia1.txt -text
texts/sahara1.handtagged.niroulapradeep.txt -text
texts/sahara1.raw.txt -text
texts/sahara1.tagged.txt -text
texts/sunday1.handtagged.alvin.txt -text
texts/sunday1.handtagged.andrei.txt -text
texts/sunday1.handtagged.kristian-hansen.txt -text
texts/sunday1.handtagged.yoonglong.txt -text
texts/sunday1.raw.txt -text
texts/sunday1.tagged.txt -text
texts/transmission1.raw.txt -text
texts/transmission1.tagged.txt -text
texts/vietnam1.handtagged.andrei.txt -text
texts/vietnam1.handtagged.yuang-siang-ng.txt -text
texts/vietnam1.raw.txt -text
texts/vietnam1.tagged.txt -text
