* text=auto !eol
texts/afghanistan1.raw.txt -text
texts/afghanistan1.tagged.txt -text
texts/alfred1.raw.txt -text
texts/alfred1.tagged.txt -text
texts/algeria1.handtagged.rap.txt -text
texts/algeria1.handtagged.yugin.txt -text
texts/algeria1.raw.txt -text
texts/algeria1.tagged.txt -text
texts/aluminium1.raw.txt -text
texts/aluminium1.tagged.txt -text
texts/anarchism1.handtagged.ilie.txt -text
texts/anarchism1.raw.txt -text
texts/anarchism1.tagged.txt -text
texts/anarchism1.tagged.txt.1 -text
texts/karabakh1.handtagged.darkgaia1.txt -text
texts/karabakh1.handtagged.ilie.txt -text
texts/karabakh1.raw.txt -text
texts/karabakh1.tagged.txt -text
texts/pirates.handtagged.porsi98.txt -text
